@tailwind base;
@tailwind components;
@tailwind utilities;

#root,body,html{
    height: 100%;
}

::-webkit-scrollbar{
    display: none;
}


.itemsgrid{

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: 400px;
    gap: 2rem;
}


.cartitem{
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
    align-items: center;
    justify-items: center;
}